In [65]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import sys
sys.path.append('../../')

from pygolfdata.data import shotlink


plt.rcParams["figure.figsize"] = (10,5)
pd.options.display.max_rows = 100

In [9]:
data_path = '../../../golf_course_project_data'

In [76]:
weather = pd.read_csv(f'{data_path}/pga_tour_weather_data.csv')
weather.shape

(41622, 14)

In [77]:
weather[:3]

,Date,Hour,Latitude,Longitude,Summary,DegreesFahrenheit,Humidity,Visibility,WindBearing,WindGust,WindSpeed,PrecipitationIntensity,PrecipitationType,CourseName
0,2008-09-18,0,34.143845,-118.174506,Clear,66.65,0.74,9.50,88.0,NaN,4.03,0.0,NaN,Annandale GC
1,2008-09-18,1,34.143845,-118.174506,Clear,66.53,0.75,9.34,144.0,NaN,4.30,0.0,NaN,Annandale GC
2,2008-09-18,2,34.143845,-118.174506,Clear,65.86,0.78,8.95,131.0,NaN,3.94,0.0,NaN,Annandale GC

In [78]:
weather['WeatherDateAndHour'] = pd.to_datetime(weather['Date'] + ' ' + weather['Hour'].astype(str).str.zfill(2))
weather[:3]

,Date,Hour,Latitude,Longitude,Summary,DegreesFahrenheit,Humidity,Visibility,WindBearing,WindGust,WindSpeed,PrecipitationIntensity,PrecipitationType,CourseName,WeatherDateAndHour
0,2008-09-18,0,34.143845,-118.174506,Clear,66.65,0.74,9.50,88.0,NaN,4.03,0.0,NaN,Annandale GC,2008-09-18 00:00:00
1,2008-09-18,1,34.143845,-118.174506,Clear,66.53,0.75,9.34,144.0,NaN,4.30,0.0,NaN,Annandale GC,2008-09-18 01:00:00
2,2008-09-18,2,34.143845,-118.174506,Clear,65.86,0.78,8.95,131.0,NaN,3.94,0.0,NaN,Annandale GC,2008-09-18 02:00:00

In [79]:
shots = shotlink.get_shots_augmented([2017], data_path)
shots = shotlink.prepare_shots(shots)
shots.shape

(1214437, 47)

In [80]:
shots[:3]

,TourCode,TourDescription,Year,TournamentNum,PlayerNum,CourseNum,PermanentTournamentNum,PlayerFirstName,PlayerLastName,Round,...,DistanceFromEdge,Date,LeftRight,StrokesGainedBaseline,StrokesGainedCategory,RecoveryShot,AMWindSpd,PMWindSpd,AMWindDir,PMWindDir
0,R,PGA TOUR,2017,10,1810,552,464,Phil,Mickelson,1,...,645,2016-10-13,R,-0.091,Off the Tee,No,C,5-10,C,DW
1,R,PGA TOUR,2017,10,1810,552,464,Phil,Mickelson,1,...,159,2016-10-13,R,0.076,Approach the Green,No,C,5-10,C,DW
2,R,PGA TOUR,2017,10,1810,552,464,Phil,Mickelson,1,...,483,2016-10-13,L,0.070,Putting,No,C,5-10,C,DW

In [81]:
shots['ShotDateAndTime'] = pd.to_datetime(shots['Date'].astype(str) + ' ' + shots['Time'].astype(str).str.zfill(4), format='%Y-%m-%d %H%M')
shots[:3]

,TourCode,TourDescription,Year,TournamentNum,PlayerNum,CourseNum,PermanentTournamentNum,PlayerFirstName,PlayerLastName,Round,...,Date,LeftRight,StrokesGainedBaseline,StrokesGainedCategory,RecoveryShot,AMWindSpd,PMWindSpd,AMWindDir,PMWindDir,ShotDateAndTime
0,R,PGA TOUR,2017,10,1810,552,464,Phil,Mickelson,1,...,2016-10-13,R,-0.091,Off the Tee,No,C,5-10,C,DW,2016-10-13 12:41:00
1,R,PGA TOUR,2017,10,1810,552,464,Phil,Mickelson,1,...,2016-10-13,R,0.076,Approach the Green,No,C,5-10,C,DW,2016-10-13 12:46:00
2,R,PGA TOUR,2017,10,1810,552,464,Phil,Mickelson,1,...,2016-10-13,L,0.070,Putting,No,C,5-10,C,DW,2016-10-13 12:50:00

In [82]:
# without this, merge_asof gives me 'left keys must be sorted' (right key must be sorted too; I don't both here)
shots.sort_values(by=['ShotDateAndTime'], inplace=True)
weather.sort_values(by=['WeatherDateAndHour'], inplace=True)

In [83]:
combined = pd.merge_asof(shots, weather, left_on='ShotDateAndTime', right_on='WeatherDateAndHour', 
                         suffixes=['_shots', '_weather'], direction='nearest')
combined['TimeDifference'] = combined['ShotDateAndTime'] - combined['WeatherDateAndHour']
combined[:3]

,TourCode,TourDescription,Year,TournamentNum,PlayerNum,CourseNum,PermanentTournamentNum,PlayerFirstName,PlayerLastName,Round,...,Humidity,Visibility,WindBearing,WindGust,WindSpeed,PrecipitationIntensity,PrecipitationType,CourseName_weather,WeatherDateAndHour,TimeDifference
0,R,PGA TOUR,2017,10,27644,552,464,Brian,Harman,1,...,0.87,8.94,248.0,NaN,5.32,0.0,NaN,Silverado Resort and Spa North,2016-10-13 07:00:00,00:20:00
1,R,PGA TOUR,2017,10,24358,552,464,Robert,Garrigus,1,...,0.87,8.94,248.0,NaN,5.32,0.0,NaN,Silverado Resort and Spa North,2016-10-13 07:00:00,00:20:00
2,R,PGA TOUR,2017,10,25720,552,464,Chad,Collins,1,...,0.87,8.94,248.0,NaN,5.32,0.0,NaN,Silverado Resort and Spa North,2016-10-13 07:00:00,00:21:00

In [84]:
combined.iloc[0]

TourCode                                                R
TourDescription                                  PGA TOUR
Year                                                 2017
TournamentNum                                          10
PlayerNum                                           27644
CourseNum                                             552
PermanentTournamentNum                                464
PlayerFirstName                                     Brian
PlayerLastName                                     Harman
Round                                                   1
TournamentName                               Safeway Open
CourseName_shots           Silverado Resort and Spa North
Hole                                                   10
HoleScore                                               4
ParValue                                                4
Yardage                                               422
Shot                                                    1
ShotType                                                S
NumStrokes                                              1
FromLocationScorer                                Tee Box
FromLocationEnhanced                                  NaN
ToLocationScorer                            Primary Rough
ToLocationEnhanced                            Right Rough
Distance                                             9733
DistanceToPin                                       15192
InTheHoleFlag                                           N
AroundTheGreenFlag                                      N
FirstPuttFlag                                           N
DistanceToHoleAfterShot                              5443
Time                                                  720
Lie                                                  Good
Elevation                                            With
Slope                                               Level
XCoordinate                                   11,230.4060
YCoordinate                                    9,321.5500
ZCoordinate                                       84.0580
DistanceFromCenter                                    693
DistanceFromEdge                                      281
Date_shots                            2016-10-13 00:00:00
LeftRight                                               R
StrokesGainedBaseline                              -0.133
StrokesGainedCategory                         Off the Tee
RecoveryShot                                           No
AMWindSpd                                               C
PMWindSpd                                            5-10
AMWindDir                                               C
PMWindDir                                              DW
ShotDateAndTime                       2016-10-13 07:20:00
Date_weather                                   2016-10-13
Hour                                                    7
Latitude                                          38.3487
Longitude                                        -122.264
Summary                                             Clear
DegreesFahrenheit                                   55.09
Humidity                                             0.87
Visibility                                           8.94
WindBearing                                           248
WindGust                                              NaN
WindSpeed                                            5.32
PrecipitationIntensity                                  0
PrecipitationType                                     NaN
CourseName_weather         Silverado Resort and Spa North
WeatherDateAndHour                    2016-10-13 07:00:00
TimeDifference                            0 days 00:20:00
Name: 0, dtype: object

In [85]:
combined[['ShotDateAndTime','WeatherDateAndHour','TimeDifference']]

            ShotDateAndTime  WeatherDateAndHour    TimeDifference
0       2016-10-13 07:20:00 2016-10-13 07:00:00          00:20:00
1       2016-10-13 07:20:00 2016-10-13 07:00:00          00:20:00
2       2016-10-13 07:21:00 2016-10-13 07:00:00          00:21:00
3       2016-10-13 07:21:00 2016-10-13 07:00:00          00:21:00
4       2016-10-13 07:21:00 2016-10-13 07:00:00          00:21:00
5       2016-10-13 07:21:00 2016-10-13 07:00:00          00:21:00
6       2016-10-13 07:26:00 2016-10-13 07:00:00          00:26:00
7       2016-10-13 07:26:00 2016-10-13 07:00:00          00:26:00
8       2016-10-13 07:26:00 2016-10-13 07:00:00          00:26:00
9       2016-10-13 07:26:00 2016-10-13 07:00:00          00:26:00
10      2016-10-13 07:27:00 2016-10-13 07:00:00          00:27:00
11      2016-10-13 07:27:00 2016-10-13 07:00:00          00:27:00
12      2016-10-13 07:30:00 2016-10-13 07:00:00          00:30:00
13      2016-10-13 07:30:00 2016-10-13 07:00:00          00:30:00
14      2016-10-13 07:30:00 2016-10-13 07:00:00          00:30:00
15      2016-10-13 07:31:00 2016-10-13 08:00:00 -1 days +23:31:00
16      2016-10-13 07:31:00 2016-10-13 08:00:00 -1 days +23:31:00
17      2016-10-13 07:31:00 2016-10-13 08:00:00 -1 days +23:31:00
18      2016-10-13 07:31:00 2016-10-13 08:00:00 -1 days +23:31:00
19      2016-10-13 07:31:00 2016-10-13 08:00:00 -1 days +23:31:00
20      2016-10-13 07:31:00 2016-10-13 08:00:00 -1 days +23:31:00
21      2016-10-13 07:31:00 2016-10-13 08:00:00 -1 days +23:31:00
22      2016-10-13 07:31:00 2016-10-13 08:00:00 -1 days +23:31:00
23      2016-10-13 07:32:00 2016-10-13 08:00:00 -1 days +23:32:00
24      2016-10-13 07:32:00 2016-10-13 08:00:00 -1 days +23:32:00
25      2016-10-13 07:32:00 2016-10-13 08:00:00 -1 days +23:32:00
26      2016-10-13 07:32:00 2016-10-13 08:00:00 -1 days +23:32:00
27      2016-10-13 07:33:00 2016-10-13 08:00:00 -1 days +23:33:00
28      2016-10-13 07:33:00 2016-10-13 08:00:00 -1 days +23:33:00
29      2016-10-13 07:34:00 2016-10-13 08:00:00 -1 days +23:34:00
30      2016-10-13 07:35:00 2016-10-13 08:00:00 -1 days +23:35:00
31      2016-10-13 07:35:00 2016-10-13 08:00:00 -1 days +23:35:00
32      2016-10-13 07:35:00 2016-10-13 08:00:00 -1 days +23:35:00
33      2016-10-13 07:36:00 2016-10-13 08:00:00 -1 days +23:36:00
34      2016-10-13 07:36:00 2016-10-13 08:00:00 -1 days +23:36:00
35      2016-10-13 07:36:00 2016-10-13 08:00:00 -1 days +23:36:00
36      2016-10-13 07:36:00 2016-10-13 08:00:00 -1 days +23:36:00
37      2016-10-13 07:37:00 2016-10-13 08:00:00 -1 days +23:37:00
38      2016-10-13 07:37:00 2016-10-13 08:00:00 -1 days +23:37:00
39      2016-10-13 07:38:00 2016-10-13 08:00:00 -1 days +23:38:00
40      2016-10-13 07:39:00 2016-10-13 08:00:00 -1 days +23:39:00
41      2016-10-13 07:39:00 2016-10-13 08:00:00 -1 days +23:39:00
42      2016-10-13 07:39:00 2016-10-13 08:00:00 -1 days +23:39:00
43      2016-10-13 07:39:00 2016-10-13 08:00:00 -1 days +23:39:00
44      2016-10-13 07:40:00 2016-10-13 08:00:00 -1 days +23:40:00
45      2016-10-13 07:40:00 2016-10-13 08:00:00 -1 days +23:40:00
46      2016-10-13 07:40:00 2016-10-13 08:00:00 -1 days +23:40:00
47      2016-10-13 07:40:00 2016-10-13 08:00:00 -1 days +23:40:00
48      2016-10-13 07:40:00 2016-10-13 08:00:00 -1 days +23:40:00
49      2016-10-13 07:40:00 2016-10-13 08:00:00 -1 days +23:40:00
...                     ...                 ...               ...
1214387 2017-09-24 17:05:00 2017-09-24 17:00:00          00:05:00
1214388 2017-09-24 17:06:00 2017-09-24 17:00:00          00:06:00
1214389 2017-09-24 17:06:00 2017-09-24 17:00:00          00:06:00
1214390 2017-09-24 17:06:00 2017-09-24 17:00:00          00:06:00
1214391 2017-09-24 17:07:00 2017-09-24 17:00:00          00:07:00
1214392 2017-09-24 17:07:00 2017-09-24 17:00:00          00:07:00
1214393 2017-09-24 17:07:00 2017-09-24 17:00:00          00:07:00
1214394 2017-09-24 17:08:00 2017-09-24 17:00:00          00:08:00
1214395 2017-09-24 17:09:00 2017-09-24 17:00:00          00:09:00
1214396 2017-09-24 17:10:00 2017-09-24 17:00:00          00:10:00
1214397 2017-09-24 17:10:00 2017-09-24 17:00:00          00:10:00
1214398 2017-09-24 17:10:00 2017-09-24 17:00:00          00:10:00
1214399 2017-09-24 17:11:00 2017-09-24 17:00:00          00:11:00
1214400 2017-09-24 17:11:00 2017-09-24 17:00:00          00:11:00
1214401 2017-09-24 17:11:00 2017-09-24 17:00:00          00:11:00
1214402 2017-09-24 17:11:00 2017-09-24 17:00:00          00:11:00
1214403 2017-09-24 17:11:00 2017-09-24 17:00:00          00:11:00
1214404 2017-09-24 17:13:00 2017-09-24 17:00:00          00:13:00
1214405 2017-09-24 17:14:00 2017-09-24 17:00:00          00:14:00
1214406 2017-09-24 17:14:00 2017-09-24 17:00:00          00:14:00
1214407 2017-09-24 17:15:00 2017-09-24 17:00:00          00:15:00
1214408 2017-09-24 17:15:00 2017-09-24 17:00:00          00:15:00
1214409 2017-09-24 17:16:00 2017-09-24 17:00:00          00:16:00
1214410 2017-09-24 17:16:00 2017-09-24 17:00:00          00:16:00
1214411 2017-09-24 17:17:00 2017-09-24 17:00:00          00:17:00
1214412 2017-09-24 17:17:00 2017-09-24 17:00:00          00:17:00
1214413 2017-09-24 17:18:00 2017-09-24 17:00:00          00:18:00
1214414 2017-09-24 17:18:00 2017-09-24 17:00:00          00:18:00
1214415 2017-09-24 17:18:00 2017-09-24 17:00:00          00:18:00
1214416 2017-09-24 17:18:00 2017-09-24 17:00:00          00:18:00
1214417 2017-09-24 17:19:00 2017-09-24 17:00:00          00:19:00
1214418 2017-09-24 17:19:00 2017-09-24 17:00:00          00:19:00
1214419 2017-09-24 17:20:00 2017-09-24 17:00:00          00:20:00
1214420 2017-09-24 17:22:00 2017-09-24 17:00:00          00:22:00
1214421 2017-09-24 17:23:00 2017-09-24 17:00:00          00:23:00
1214422 2017-09-24 17:23:00 2017-09-24 17:00:00          00:23:00
1214423 2017-09-24 17:23:00 2017-09-24 17:00:00          00:23:00
1214424 2017-09-24 17:24:00 2017-09-24 17:00:00          00:24:00
1214425 2017-09-24 17:25:00 2017-09-24 17:00:00          00:25:00
1214426 2017-09-24 17:26:00 2017-09-24 17:00:00          00:26:00
1214427 2017-09-24 17:27:00 2017-09-24 17:00:00          00:27:00
1214428 2017-09-24 17:28:00 2017-09-24 17:00:00          00:28:00
1214429 2017-09-24 17:29:00 2017-09-24 17:00:00          00:29:00
1214430 2017-09-24 17:30:00 2017-09-24 17:00:00          00:30:00
1214431 2017-09-24 17:31:00 2017-09-24 18:00:00 -1 days +23:31:00
1214432 2017-09-24 17:32:00 2017-09-24 18:00:00 -1 days +23:32:00
1214433 2017-09-24 17:35:00 2017-09-24 18:00:00 -1 days +23:35:00
1214434 2017-09-24 17:36:00 2017-09-24 18:00:00 -1 days +23:36:00
1214435 2017-09-24 17:39:00 2017-09-24 18:00:00 -1 days +23:39:00
1214436 2017-09-24 17:40:00 2017-09-24 18:00:00 -1 days +23:40:00

[1214437 rows x 3 columns]

In [86]:
combined['TimeDifference'].value_counts(dropna=False)

00:21:00             20694
-1 days +23:51:00    20637
-1 days +23:41:00    20627
-1 days +23:31:00    20608
00:30:00             20593
00:01:00             20585
00:11:00             20498
00:16:00             20460
00:02:00             20459
-1 days +23:50:00    20381
-1 days +23:46:00    20378
00:06:00             20371
00:26:00             20368
00:22:00             20358
-1 days +23:45:00    20354
-1 days +23:52:00    20311
-1 days +23:40:00    20309
-1 days +23:36:00    20238
-1 days +23:56:00    20234
-1 days +23:32:00    20179
-1 days +23:42:00    20148
00:12:00             20138
00:10:00             20121
00:20:00             20104
-1 days +23:35:00    20101
00:07:00             20099
-1 days +23:47:00    20082
00:17:00             20076
-1 days +23:44:00    20071
00:00:00             20052
00:27:00             20048
00:03:00             20031
00:05:00             20024
-1 days +23:57:00    20022
00:25:00             19990
00:15:00             19987
-1 days +23:53:00    19935
-1 days +23:43:00    19934
-1 days +23:37:00    19915
-1 days +23:34:00    19868
00:13:00             19864
-1 days +23:33:00    19839
00:29:00             19816
00:28:00             19795
-1 days +23:38:00    19791
00:23:00             19790
00:18:00             19766
-1 days +23:58:00    19766
-1 days +23:55:00    19750
-1 days +23:39:00    19747
                     ...
07:27:00                 2
15:47:00                 2
-1 days +20:52:00        2
07:12:00                 2
07:39:00                 2
16:11:00                 2
06:44:00                 2
06:46:00                 2
07:40:00                 2
06:57:00                 2
-1 days +20:53:00        2
07:08:00                 2
07:24:00                 2
-1 days +20:40:00        2
15:59:00                 2
07:31:00                 2
15:53:00                 2
07:10:00                 2
16:02:00                 1
-1 days +20:41:00        1
16:04:00                 1
16:03:00                 1
06:54:00                 1
07:07:00                 1
-1 days +20:37:00        1
16:10:00                 1
-1 days +20:47:00        1
15:43:00                 1
16:07:00                 1
-1 days +20:36:00        1
06:47:00                 1
06:53:00                 1
16:09:00                 1
-1 days +20:51:00        1
06:58:00                 1
08:12:00                 1
07:03:00                 1
07:13:00                 1
06:50:00                 1
06:36:00                 1
07:00:00                 1
06:49:00                 1
15:58:00                 1
-1 days +20:46:00        1
07:02:00                 1
07:53:00                 1
06:52:00                 1
06:56:00                 1
06:59:00                 1
06:35:00                 1
Name: TimeDifference, Length: 886, dtype: int64

In [ ]:
pd.to_datetime(weather['Date'] + ' ' + weather['Hour'].astype(str).str.zfill(2))
weather[:3]

In [39]:
shots[:10].apply(lambda r: pd.Timestamp.combine(r['Date'], 
                                                pd.to_datetime(r['Time'].astype(str).str.zfill(4), format='%H%M')))

KeyError: ('Date', 'occurred at index TourCode')

In [33]:
pd.to_datetime(shots['Time'].astype(str).str.zfill(4), format='%H%M')

0         1900-01-01 12:41:00
1         1900-01-01 12:46:00
2         1900-01-01 12:50:00
3         1900-01-01 12:52:00
4         1900-01-01 12:52:00
5         1900-01-01 12:57:00
6         1900-01-01 13:00:00
7         1900-01-01 13:03:00
8         1900-01-01 13:03:00
9         1900-01-01 13:08:00
10        1900-01-01 13:13:00
11        1900-01-01 13:21:00
12        1900-01-01 13:24:00
13        1900-01-01 13:29:00
14        1900-01-01 13:35:00
15        1900-01-01 13:39:00
16        1900-01-01 13:49:00
17        1900-01-01 13:54:00
18        1900-01-01 13:57:00
19        1900-01-01 13:59:00
20        1900-01-01 14:04:00
21        1900-01-01 14:08:00
22        1900-01-01 14:08:00
23        1900-01-01 14:15:00
24        1900-01-01 14:21:00
25        1900-01-01 14:24:00
26        1900-01-01 14:26:00
27        1900-01-01 14:33:00
28        1900-01-01 14:37:00
29        1900-01-01 14:37:00
                  ...
1214407   1900-01-01 15:49:00
1214408   1900-01-01 15:52:00
1214409   1900-01-01 15:56:00
1214410   1900-01-01 15:59:00
1214411   1900-01-01 16:01:00
1214412   1900-01-01 16:06:00
1214413   1900-01-01 16:09:00
1214414   1900-01-01 16:12:00
1214415   1900-01-01 16:13:00
1214416   1900-01-01 16:18:00
1214417   1900-01-01 16:23:00
1214418   1900-01-01 16:25:00
1214419   1900-01-01 16:32:00
1214420   1900-01-01 16:35:00
1214421   1900-01-01 16:38:00
1214422   1900-01-01 16:42:00
1214423   1900-01-01 16:48:00
1214424   1900-01-01 16:50:00
1214425   1900-01-01 16:51:00
1214426   1900-01-01 16:57:00
1214427   1900-01-01 17:02:00
1214428   1900-01-01 17:02:00
1214429   1900-01-01 17:05:00
1214430   1900-01-01 17:11:00
1214431   1900-01-01 17:15:00
1214432   1900-01-01 17:16:00
1214433   1900-01-01 17:19:00
1214434   1900-01-01 17:24:00
1214435   1900-01-01 17:28:00
1214436   1900-01-01 17:30:00
Name: Time, Length: 1214437, dtype: datetime64[ns]

In [ ]:
pd.to_datetime(df.st_time, format='%H%M').dt.time)

In [19]:
shots.iloc[0]

TourCode                                                R
TourDescription                                  PGA TOUR
Year                                                 2017
TournamentNum                                          10
PlayerNum                                            1810
CourseNum                                             552
PermanentTournamentNum                                464
PlayerFirstName                                      Phil
PlayerLastName                                  Mickelson
Round                                                   1
TournamentName                               Safeway Open
CourseName                 Silverado Resort and Spa North
Hole                                                    1
HoleScore                                               5
ParValue                                                4
Yardage                                               436
Shot                                                    1
ShotType                                                S
NumStrokes                                              1
FromLocationScorer                                Tee Box
FromLocationEnhanced                                  NaN
ToLocationScorer                            Primary Rough
ToLocationEnhanced                            Right Rough
Distance                                            10327
DistanceToPin                                       15804
InTheHoleFlag                                           N
AroundTheGreenFlag                                      N
FirstPuttFlag                                           N
DistanceToHoleAfterShot                              5496
Time                                                 1241
Lie                                                  Good
Elevation                                            With
Slope                                               Level
XCoordinate                                   10,734.3430
YCoordinate                                    9,531.0870
ZCoordinate                                       84.1040
DistanceFromCenter                                   1104
DistanceFromEdge                                      645
Date                                  2016-10-13 00:00:00
LeftRight                                               R
StrokesGainedBaseline                              -0.091
StrokesGainedCategory                         Off the Tee
RecoveryShot                                           No
AMWindSpd                                               C
PMWindSpd                                            5-10
AMWindDir                                               C
PMWindDir                                              DW
Name: 0, dtype: object

In [20]:
shots.dtypes

TourCode                         category
TourDescription                  category
Year                               uint16
TournamentNum                      uint16
PlayerNum                          uint16
CourseNum                          uint16
PermanentTournamentNum             uint16
PlayerFirstName                  category
PlayerLastName                   category
Round                               uint8
TournamentName                   category
CourseName                       category
Hole                                uint8
HoleScore                         float32
ParValue                            uint8
Yardage                            uint16
Shot                                uint8
ShotType                         category
NumStrokes                          uint8
FromLocationScorer               category
FromLocationEnhanced               object
ToLocationScorer                 category
ToLocationEnhanced               category
Distance                           uint16
DistanceToPin                      uint16
InTheHoleFlag                    category
AroundTheGreenFlag               category
FirstPuttFlag                    category
DistanceToHoleAfterShot            uint16
Time                               uint16
Lie                              category
Elevation                        category
Slope                            category
XCoordinate                        object
YCoordinate                        object
ZCoordinate                        object
DistanceFromCenter                 uint16
DistanceFromEdge                   uint16
Date                       datetime64[ns]
LeftRight                        category
StrokesGainedBaseline             float32
StrokesGainedCategory            category
RecoveryShot                     category
AMWindSpd                        category
PMWindSpd                        category
AMWindDir                        category
PMWindDir                        category
dtype: object